Repository elastic/logstash, pull requests merged in 2018-03, with the labels that each got.

#9228 Small changes to the build instructions
  README.md
Labels: docs

#9236 [DOCS] Added X-Pack monitoring upgrade details
  docs/static/upgrading.asciidoc
Labels: docs, monitoring, v6.3.0, v7.0.0-alpha1

#9166 Fix: Tags collision with user-defined tags and built-in tags
  logstash-core/lib/logstash/filters/base.rb
  logstash-core/spec/logstash/filters/base_spec.rb
Labels: bug

#9192 Cleanup cross references in docs
  docs/index-shared1.asciidoc
  docs/static/advanced-pipeline.asciidoc
  docs/static/deploying.asciidoc
  docs/static/filebeat-modules.asciidoc
Labels: docs
