Repository elastic/logstash, pull requests merged in 2018-05, with the labels that each got.

#9498 PQ Batching queue timeouts
  logstash-core/benchmarks/src/main/java/org/logstash/benchmark/QueueRWBenchmark.java
  logstash-core/benchmarks/src/main/java/org/logstash/benchmark/QueueWriteBenchmark.java
  logstash-core/src/main/java/org/logstash/ackedqueue/Page.java
  logstash-core/src/main/java/org/logstash/ackedqueue/Queue.java
  logstash-core/src/main/java/org/logstash/ackedqueue/ext/JRubyAckedQueueExt.java
  logstash-core/src/main/java/org/logstash/ackedqueue/ext/JRubyWrappedAckedQueueExt.java
  logstash-core/src/main/java/org/logstash/ackedqueue/io/MmapPageIO.java
  logstash-core/src/main/java/org/logstash/ackedqueue/io/PageIO.java
  logstash-core/src/main/java/org/logstash/ext/JrubyAckedWriteClientExt.java
  logstash-core/src/test/java/org/logstash/ackedqueue/HeadPageTest.java
  logstash-core/src/test/java/org/logstash/ackedqueue/QueueTest.java
  logstash-core/src/test/java/org/logstash/ackedqueue/io/FileMmapIOTest.java
Labels: persistent queues

#9509 [DOCS] Removes X-Pack release notes and breaking changes
  docs/static/breaking-changes.asciidoc
  docs/static/releasenotes.asciidoc
  x-pack/docs/en/index.asciidoc
  x-pack/docs/en/release-notes/7.0.0-alpha1.asciidoc
  x-pack/docs/en/release-notes/breaking-changes-xpack.asciidoc
  x-pack/docs/en/release-notes/xpack.asciidoc
Labels: docs, v7.0.0-alpha1

#9505 Give an example of a single line Hash.
  docs/static/configuration.asciidoc
Labels: docs

#9500 [DOCS] Enables editing links for X-Pack pages
  x-pack/docs/en/index.asciidoc
Labels: docs, v6.3.0, v6.4.0, v7.0.0-alpha1

#9551 Fix sections breaking changes 62
  docs/static/breaking-changes.asciidoc
Labels: docs

#9516 [X-Pack Monitoring] Report pipeline protocol
  logstash-core/lib/logstash/config/pipeline_config.rb
  logstash-core/spec/logstash/config/pipeline_config_spec.rb
  x-pack/lib/config_management/elasticsearch_source.rb
  x-pack/lib/monitoring/inputs/metrics/state_event_factory.rb
Labels: monitoring, needs review, x-pack

#9562 Revert #9516 ([X-Pack Monitoring] Report pipeline protocol) from 6.x
  logstash-core/lib/logstash/config/pipeline_config.rb
  logstash-core/spec/logstash/config/pipeline_config_spec.rb
  x-pack/lib/config_management/elasticsearch_source.rb
  x-pack/lib/monitoring/inputs/metrics/state_event_factory.rb
Labels: needs review

#9579 Load tests via JUnit (backport of 2ea154a2 to 6.3)
  build.gradle
  logstash-core/lib/logstash/plugins/registry.rb
  logstash-core/lib/logstash/runner.rb
  settings.gradle
  x-pack/build.gradle
  x-pack/lib/config_management/bootstrap_check.rb
  x-pack/lib/config_management/extension.rb
  x-pack/lib/config_management/hooks.rb
  x-pack/lib/monitoring/monitoring.rb
  x-pack/lib/x-pack/logstash_registry.rb
  x-pack/settings.gradle
  x-pack/spec/config_management/bootstrap_check_spec.rb
  x-pack/spec/config_management/elasticsearch_source_spec.rb
  x-pack/spec/config_management/extension_spec.rb
  x-pack/spec/config_management/hooks_spec.rb
  x-pack/spec/helpers/elasticsearch_options_spec.rb
  x-pack/spec/license_checker/license_info_spec.rb
  x-pack/spec/license_checker/license_manager_spec.rb
  x-pack/spec/license_checker/license_reader_spec.rb
  x-pack/spec/modules/module_license_checker_spec.rb
  x-pack/spec/monitoring/inputs/metrics_spec.rb
  x-pack/src/test/java/org/logstash/xpack/test/RSpecTests.java
Labels: tests, x-pack

#9604 [DOCS] Moves X-Pack configuration pages in table of contents
  docs/index-shared3.asciidoc
  x-pack/docs/en/management/configuring-centralized-pipelines.asciidoc
  x-pack/docs/en/monitoring/configuring-logstash.asciidoc
  x-pack/docs/en/security/logstash.asciidoc
  x-pack/docs/en/setup/setting-up-xpack.asciidoc
Labels: docs, v6.3.0, v6.4.0, v7.0.0-alpha1

#9607 [DOCS] Removes redundant index.asciidoc files
  docs/index-shared1.asciidoc
  docs/index-shared2.asciidoc
  docs/index-shared3.asciidoc
  docs/index.asciidoc
  docs/index.x.asciidoc
  x-pack/docs/en/index.asciidoc
Labels: docs, v6.3.0, v6.4.0, v7.0.0-alpha1

#9420 JAVAFICATION: Simple HTTP client
  logstash-core/build.gradle
  logstash-core/src/main/java/org/logstash/common/clients/HttpClient.java
  logstash-core/src/test/java/org/logstash/common/clients/HttpClientTest.java
  logstash-core/src/test/resources/org/logstash/common/clients/client.crt
  logstash-core/src/test/resources/org/logstash/common/clients/client.jks
  logstash-core/src/test/resources/org/logstash/common/clients/client.key
  logstash-core/src/test/resources/org/logstash/common/clients/server.crt
  logstash-core/src/test/resources/org/logstash/common/clients/server.jks
  logstash-core/src/test/resources/org/logstash/common/clients/server_no_san.crt
  logstash-core/src/test/resources/org/logstash/common/clients/server_no_san.jks
Labels: needs review

#9638 [geoip_dst][asn] should be tested by if statement
  modules/netflow/configuration/logstash/netflow.conf.erb
Labels: NetFlow module, modules

#9637 Release 5.6.10 - 2nd PR Create Gemfile.jruby-1.9.lock.release
  Gemfile.jruby-1.9.lock.release
  Gemfile.template
  NOTICE.TXT
Labels: needs review

#9679 [DOCS] Moves settings folder to docs
  docs/static/settings/configuration-management-settings.asciidoc
  docs/static/settings/monitoring-settings.asciidoc
  x-pack/docs/en/management/configuring-centralized-pipelines.asciidoc
  x-pack/docs/en/monitoring/configuring-logstash.asciidoc
Labels: docs, v6.3.1, v6.4.0, v7.0.0-alpha1

#9678 [DOCS] Moves security folder to docs
  docs/index.asciidoc
  docs/static/security/logstash.asciidoc
Labels: :security, docs, v6.3.1, v6.4.0, v7.0.0-alpha1

#9677 [DOCS] Move monitoring folder to docs
  docs/index.asciidoc
  docs/static/monitoring.asciidoc
  docs/static/monitoring/collectors.asciidoc
  docs/static/monitoring/configuring-logstash.asciidoc
  docs/static/monitoring/images/monitoring-ui.png
  docs/static/monitoring/images/nodestats.png
  docs/static/monitoring/images/overviewstats.png
  docs/static/monitoring/images/pipeline-diagram.png
  docs/static/monitoring/images/pipeline-filter-detail.png
  docs/static/monitoring/images/pipeline-input-detail.png
  docs/static/monitoring/images/pipeline-output-detail.png
  docs/static/monitoring/images/pipeline-viewer-detail-drawer.png
  docs/static/monitoring/images/pipeline-viewer-overview.png
  docs/static/monitoring/index.asciidoc
  docs/static/monitoring/intro.asciidoc
  docs/static/monitoring/monitoring-output.asciidoc
  docs/static/monitoring/monitoring-overview.asciidoc
  docs/static/monitoring/monitoring-ui.asciidoc
  docs/static/monitoring/pipeline-viewer.asciidoc
  docs/static/monitoring/pipelines/tweets_about_rain.conf
  docs/static/monitoring/troubleshooting.asciidoc
Labels: docs, monitoring, v6.3.1, v6.4.0, v7.0.0-alpha1

#9680 [DOCS] Moves management folder to docs
  docs/index.asciidoc
  docs/static/config-management.asciidoc
  docs/static/management/centralized-pipelines.asciidoc
  docs/static/management/configuring-centralized-pipelines.asciidoc
  docs/static/management/images/centralized_config.png
  docs/static/management/images/new_pipeline.png
Labels: docs, v6.3.1, v6.4.0, v7.0.0-alpha1
