Repository elastic/logstash, pull requests merged in 2018-11, with the labels that each got.

#10106 start monitoring pipeline after valid license
  config/log4j2.properties
  logstash-core/lib/logstash/runner.rb
  x-pack/lib/config_management/elasticsearch_source.rb
  x-pack/lib/license_checker/license_manager.rb
  x-pack/lib/license_checker/license_reader.rb
  x-pack/lib/license_checker/x_pack_info.rb
  x-pack/lib/modules/module_license_checker.rb
  x-pack/lib/monitoring/inputs/metrics.rb
  x-pack/lib/monitoring/internal_pipeline_source.rb
  x-pack/lib/monitoring/monitoring.rb
  x-pack/spec/license_checker/license_reader_spec.rb
  x-pack/spec/modules/module_license_checker_spec.rb
  x-pack/spec/monitoring/inputs/metrics_spec.rb
  x-pack/spec/monitoring/internal_pipeline_source_spec.rb
Labels: logging improvements, monitoring

#10117 Add VERSION_QUALIFIER support for use by release manager
  build.gradle
  logstash-core-plugin-api/lib/logstash-core-plugin-api/version.rb
  logstash-core-plugin-api/logstash-core-plugin-api.gemspec
  logstash-core/lib/logstash-core/version.rb
  logstash-core/logstash-core.gemspec
  rakelib/artifacts.rake
  versions.yml
Labels: v7.0.0-alpha1

#10144 [DOCS] Changes release state for 650
  docs/index.asciidoc
Labels: docs, v6.5.0

#10146 [DOCS] Updated release state for 7.0.0-alpha1
  docs/index.asciidoc
Labels: docs

#10151 [6.x clean backport of #10148] upgrade rack to version 1.6.11
  logstash-core/logstash-core.gemspec
Labels: backport, enhancement, v6.6.0

#10153 [6.4 clean backport of #10148] upgrade rack to version 1.6.11
  logstash-core/logstash-core.gemspec
Labels: backport, enhancement, v6.4.4

#10164 Set branch version in the 6.5 branch docs to 6.5
  docs/index.asciidoc
Labels: docs

#10152 [6.5 clean backport of #10148] upgrade rack to version 1.6.11
  logstash-core/logstash-core.gemspec
Labels: backport, backport needed, enhancement, v6.5.2
