Repository elastic/logstash, pull requests merged in 2018-04, with the labels that each got.

#9381 Release notes for 6.2.4
  docs/static/releasenotes.asciidoc
Labels: docs

#9360 Java input execution
  logstash-core/lib/logstash/java_pipeline.rb
  logstash-core/src/main/java/org/logstash/ackedqueue/ext/JRubyAckedQueueExt.java
  logstash-core/src/main/java/org/logstash/execution/Codec.java
  logstash-core/src/main/java/org/logstash/execution/InputsController.java
  logstash-core/src/main/java/org/logstash/execution/PluginHelper.java
  logstash-core/src/main/java/org/logstash/execution/QueueWriterProvider.java
  logstash-core/src/main/java/org/logstash/execution/codecs/CodecFactory.java
  logstash-core/src/main/java/org/logstash/execution/codecs/Line.java
  logstash-core/src/main/java/org/logstash/execution/inputs/Stdin.java
  logstash-core/src/main/java/org/logstash/execution/outputs/Stdout.java
  logstash-core/src/main/java/org/logstash/ext/JRubyWrappedWriteClientExt.java
  logstash-core/src/main/java/org/logstash/ext/JrubyAckedWriteClientExt.java
  logstash-core/src/main/java/org/logstash/ext/JrubyMemoryWriteClientExt.java
  logstash-core/src/test/java/org/logstash/execution/codecs/CodecFactoryTest.java
  logstash-core/src/test/java/org/logstash/execution/codecs/LineTest.java
  logstash-core/src/test/java/org/logstash/execution/inputs/StdinTest.java
  logstash-core/src/test/java/org/logstash/execution/outputs/StdoutTest.java
Labels: Java API

#9390 Minimal plugin config, all unit tests now passing.
  logstash-core/src/main/java/org/logstash/execution/LsConfiguration.java
  logstash-core/src/main/java/org/logstash/execution/codecs/Line.java
  logstash-core/src/test/java/org/logstash/execution/codecs/LineTest.java
  logstash-core/src/test/java/org/logstash/execution/inputs/StdinTest.java
Labels: Java API

#9392 Clean up stdin plugin to use config, remove unused variables
  logstash-core/src/main/java/org/logstash/execution/inputs/Stdin.java
Labels: Java API

#9385 Doc for pipeline-to-pipeline communication
  docs/index-shared3.asciidoc
  docs/static/ls-ls-config.asciidoc
  docs/static/pipeline-pipeline-config.asciidoc
Labels: docs, needs review

#9407 [DOCS] Removes X-Pack installation info
  docs/static/arcsight-module.asciidoc
Labels: ArcSight module, docs, v6.3.0, v7.0.0-alpha1

#9479 [DOCS] Fixes broken link
  x-pack/docs/en/management/centralized-pipelines.asciidoc
Labels: 6.4.0, docs, v6.3.0, v7.0.0-alpha1

#9425 Update version in OSS-only artifacts as well
  rakelib/version.rake
Labels: build, needs review, v7.0.0-alpha1
