Repository elastic/logstash, pull requests merged in 2019-09, with the labels that each got.

#11144 [Doc]Update logstash to use shared version files for 6.8
  docs/index.asciidoc
Labels: backport, docs

#11160 Backport release notes to 7.x
  docs/static/releasenotes.asciidoc
Labels: docs, v7.5.0

#11159 Backport release notes to 7.4 branch
  docs/static/releasenotes.asciidoc
Labels: docs, v7.4.0

#11163 Release notes draft for 7.4.0
  docs/static/releasenotes.asciidoc
Labels: docs, v7.4.0

#11166 [DOCS] Fixes links to monitoring content
  docs/static/monitoring/configuring-logstash.asciidoc
  docs/static/monitoring/monitoring-overview.asciidoc
Labels: docs, monitoring, v7.3.3, v7.4.0, v7.5.0, v8.0.0

#11172 [7.x][DOCS] Fixes links to monitoring content (#11166)
  docs/static/monitoring/configuring-logstash.asciidoc
  docs/static/monitoring/monitoring-overview.asciidoc
Labels: backport

#11173 [7.4][DOCS] Fixes links to monitoring content (#11166)
  docs/static/monitoring/configuring-logstash.asciidoc
  docs/static/monitoring/monitoring-overview.asciidoc
Labels: backport

#11174 [7.3][DOCS] Fixes links to monitoring content (#11166)
  docs/static/monitoring/configuring-logstash.asciidoc
  docs/static/monitoring/monitoring-overview.asciidoc
Labels: backport
