Repository elastic/logstash, pull requests merged in 2019-07, with the labels that each got.

#10805 Document running Logstash on Windows
  docs/static/running-logstash-command-line.asciidoc
  docs/static/running-logstash-windows.asciidoc
Labels: docs, needs review, windows

#10942 Cleanup gradle tasks around dependency installation
  Gemfile.template
  build.gradle
  rakelib/plugin.rake
  rakelib/plugins_docs_dependencies.rake
Labels: build, tests-infra

#10947 fix plugin version bump rake task
  tools/release/bump_plugin_versions.rb
Labels: packaging

#10954 [Doc][Backport]Add structure for new windows topic
  docs/index.asciidoc
  docs/static/running-logstash-windows.asciidoc
  docs/static/setting-up-logstash.asciidoc
Labels: backport, docs

#10968 Add coming tag to 7.2.1 release notes
  docs/static/releasenotes.asciidoc
Labels: docs

#10980 [Doc]Prep core plugins for inclusion in LS Ref
  docs/include/plugin_header-core.asciidoc
  docs/static/core-plugins/codecs/java_dots.asciidoc
  docs/static/core-plugins/codecs/java_line.asciidoc
  docs/static/core-plugins/codecs/java_plain.asciidoc
  docs/static/core-plugins/filters/java_uuid.asciidoc
  docs/static/core-plugins/inputs/java_generator.asciidoc
  docs/static/core-plugins/inputs/java_stdin.asciidoc
  docs/static/core-plugins/outputs/java_sink.asciidoc
  docs/static/core-plugins/outputs/java_stdout.asciidoc
Labels: backport, docs

#10990 Docs: Add missing subs
  docs/include/plugin_header.asciidoc
  docs/include/version-list-intro.asciidoc
  docs/static/monitoring/configuring-logstash.asciidoc
  docs/static/security/logstash.asciidoc
  docs/static/setup/configuring-xls.asciidoc
  docs/static/setup/installing-xls.asciidoc
Labels: docs

#10991 Docs: Add more missing subs for asciidoctor
  docs/static/monitoring/configuring-logstash.asciidoc
  docs/static/security/logstash.asciidoc
  docs/static/setup/configuring-xls.asciidoc
Labels: docs

#10993 Release notes 7.3.0
  docs/static/releasenotes.asciidoc
Labels: v7.3.0

#11006 [Doc]Set docs release state to released
  docs/index.asciidoc
Labels: docs
