Repository elastic/logstash, pull requests merged in 2019-05, with the labels that each got.

#10561 Refactoring of LIR serializer and exposing pipeline metrics
  logstash-core/lib/logstash/api/commands/node.rb
  logstash-core/lib/logstash/api/modules/node.rb
  logstash-core/lib/logstash/config/lir_serializer.rb
  logstash-core/lib/logstash/java_pipeline.rb
  logstash-core/lib/logstash/pipeline.rb
  x-pack/lib/monitoring/inputs/metrics/state_event_factory.rb
  x-pack/spec/monitoring/inputs/metrics/state_event/lir_serializer_spec.rb
Labels: v7.1.0

#10730 [Docs] Asciidoctor support
  docs/include/input.asciidoc
  docs/include/plugin_header.asciidoc
  docs/include/version-list-intro.asciidoc
Labels: docs

#10734 JRuby resolv.rb leak
  logstash-core/lib/logstash/patches/resolv.rb
  logstash-core/lib/logstash/patches/resolv_9270.rb
  logstash-core/spec/logstash/jruby_version_spec.rb
Labels: bug

#10703 bump docs to 6.7.2
  docs/index.asciidoc
Labels: docs, v6.7.2

#10744 Fix asciidoc formatting for conversion to asciidoctor
  docs/static/advanced-pipeline.asciidoc
  docs/static/azure-module.asciidoc
  docs/static/dead-letter-queues.asciidoc
  docs/static/maintainer-guide.asciidoc
  docs/static/monitoring-apis.asciidoc
  docs/static/plugin-generator.asciidoc
  docs/static/running-logstash.asciidoc
  docs/static/security/logstash.asciidoc
  docs/static/transforming-data.asciidoc
Labels: work in progress

#10759 [Doc] Cherrypick asciidoctor formatting changes for 6.3
  docs/static/advanced-pipeline.asciidoc
  docs/static/dead-letter-queues.asciidoc
  docs/static/maintainer-guide.asciidoc
  docs/static/monitoring-apis.asciidoc
  docs/static/plugin-generator.asciidoc
  docs/static/running-logstash.asciidoc
  docs/static/security/logstash.asciidoc
  docs/static/transforming-data.asciidoc
Labels: backport, docs

#10741 [7.x clean backport of #10734] fix JRuby resolv.rb leak
  logstash-core/lib/logstash/patches/resolv.rb
  logstash-core/lib/logstash/patches/resolv_9270.rb
  logstash-core/spec/logstash/jruby_version_spec.rb
Labels: backport

#10740 [7.1 clean backport of #10734] fix JRuby resolv.rb leak
  logstash-core/lib/logstash/patches/resolv.rb
  logstash-core/lib/logstash/patches/resolv_9270.rb
  logstash-core/spec/logstash/jruby_version_spec.rb
Labels: backport, backport needed

#10739 [6.8 clean backport of #10734] fix JRuby resolv.rb leak
  logstash-core/lib/logstash/patches/resolv.rb
  logstash-core/lib/logstash/patches/resolv_9270.rb
  logstash-core/spec/logstash/jruby_version_spec.rb
Labels: backport, backport needed

#10760 [Doc] Cherrypick asciidoctor formatting changes for 6.2
  docs/static/advanced-pipeline.asciidoc
  docs/static/dead-letter-queues.asciidoc
  docs/static/maintainer-guide.asciidoc
  docs/static/monitoring-apis.asciidoc
  docs/static/plugin-generator.asciidoc
  docs/static/running-logstash.asciidoc
  docs/static/transforming-data.asciidoc
Labels: backport, docs

#10762 [Docs][Backport]Asciidoctor fixes for LS ref 6.1
  docs/static/advanced-pipeline.asciidoc
  docs/static/dead-letter-queues.asciidoc
  docs/static/maintainer-guide.asciidoc
  docs/static/monitoring-apis.asciidoc
  docs/static/plugin-generator.asciidoc
  docs/static/running-logstash.asciidoc
Labels: backport, docs

#10763 [Doc][Backport]Asciidoctor fixes for ls ref 6.0
  docs/static/advanced-pipeline.asciidoc
  docs/static/dead-letter-queues.asciidoc
  docs/static/maintainer-guide.asciidoc
  docs/static/monitoring-apis.asciidoc
  docs/static/plugin-generator.asciidoc
  docs/static/running-logstash.asciidoc
Labels: backport, docs

#10764 [Doc][Backport]Asciidoctor formatting changes for ls ref 5.6
  docs/static/advanced-pipeline.asciidoc
  docs/static/dead-letter-queues.asciidoc
  docs/static/maintainer-guide.asciidoc
  docs/static/plugin-generator.asciidoc
  docs/static/running-logstash.asciidoc
Labels: backport, docs

#10765 [Doc][Backport]Asciidoctor formatting changes for ls ref 5.5
  docs/static/advanced-pipeline.asciidoc
  docs/static/dead-letter-queues.asciidoc
  docs/static/maintainer-guide.asciidoc
  docs/static/plugin-generator.asciidoc
  docs/static/plugin-manager.asciidoc
  docs/static/running-logstash.asciidoc
Labels: backport, docs

#10766 [Doc][Backport]Asciidoctor formatting changes for ls ref for 5.4
  docs/static/advanced-pipeline.asciidoc
  docs/static/maintainer-guide.asciidoc
  docs/static/plugin-generator.asciidoc
  docs/static/plugin-manager.asciidoc
  docs/static/running-logstash.asciidoc
Labels: backport, docs

#10767 [Doc][Backport]Asciidoctor formatting changes for ls ref 5.3
  docs/static/advanced-pipeline.asciidoc
  docs/static/maintainer-guide.asciidoc
  docs/static/plugin-generator.asciidoc
  docs/static/plugin-manager.asciidoc
  docs/static/running-logstash.asciidoc
Labels: backport, docs

#10768 [Docs][Backport]Asciidoctor formatting changes for ls ref
  docs/static/advanced-pipeline.asciidoc
  docs/static/maintainer-guide.asciidoc
  docs/static/plugin-generator.asciidoc
  docs/static/plugin-manager.asciidoc
  docs/static/running-logstash.asciidoc
Labels: backport, docs

#10769 [Doc][Backport]Asciidoctor formatting changes for ls ref
  docs/static/advanced-pipeline.asciidoc
  docs/static/maintainer-guide.asciidoc
  docs/static/plugin-generator.asciidoc
  docs/static/plugin-manager.asciidoc
  docs/static/running-logstash.asciidoc
Labels: backport, docs

#10770 [Doc][Backport]Asciidoctor formatting changes for 5.0
  docs/static/advanced-pipeline.asciidoc
  docs/static/maintainer-guide.asciidoc
  docs/static/plugin-generator.asciidoc
  docs/static/plugin-manager.asciidoc
Labels: backport, docs

#10784 Include G1 in JVM heap metrics
  logstash-core/lib/logstash/instrument/periodic_poller/jvm.rb
Labels: backport, metrics, v7.2.0

#10774 [Docs][Backport]Asciidoctor formatting changes 2.4
  docs/static/advanced-pipeline.asciidoc
  docs/static/maintainer-guide.asciidoc
  docs/static/plugin-generator.asciidoc
  docs/static/plugin-manager.asciidoc
Labels: backport, docs

#10775 [Doc][Backport]Asciidoctor formatting and file changes for 2.3
  docs/static/advanced-pipeline.asciidoc
  docs/static/maintainer-guide.asciidoc
Labels: backport, docs

#10802 Expose Metrics API to Java plugins (#10761)
  logstash-core/build.gradle
  logstash-core/src/main/java/co/elastic/logstash/api/Context.java
  logstash-core/src/main/java/co/elastic/logstash/api/CounterMetric.java
  logstash-core/src/main/java/co/elastic/logstash/api/Metric.java
  logstash-core/src/main/java/co/elastic/logstash/api/NamespacedMetric.java
  logstash-core/src/main/java/org/logstash/config/ir/compiler/JavaCodecDelegator.java
  logstash-core/src/main/java/org/logstash/plugins/ContextImpl.java
  logstash-core/src/main/java/org/logstash/plugins/CounterMetricImpl.java
  logstash-core/src/main/java/org/logstash/plugins/NamespacedMetricImpl.java
  logstash-core/src/main/java/org/logstash/plugins/PluginFactoryExt.java
  logstash-core/src/main/java/org/logstash/plugins/PluginLookup.java
  logstash-core/src/main/java/org/logstash/plugins/RootMetricImpl.java
  logstash-core/src/test/java/org/logstash/config/ir/compiler/JavaCodecDelegatorTest.java
  logstash-core/src/test/java/org/logstash/plugins/CounterMetricImplTest.java
  logstash-core/src/test/java/org/logstash/plugins/MetricTestCase.java
  logstash-core/src/test/java/org/logstash/plugins/NamespacedMetricImplTest.java
  logstash-core/src/test/java/org/logstash/plugins/TestContext.java
  logstash-core/src/test/java/org/logstash/plugins/TestPluginFactory.java
  logstash-core/src/test/java/org/logstash/plugins/filters/UuidTest.java
Labels: Java API, backport, metrics, v7.2.0

#10776 [Doc][Backport]Asciidoctor formatting changes 2.2
  docs/index-shared1.asciidoc
  docs/index.asciidoc
  docs/static/advanced-pipeline.asciidoc
  docs/static/contributing-patch.asciidoc
  docs/static/plugin-manager.asciidoc
Labels: backport, docs

#10777 [Doc][Backport]Asciidoctor formatting changes 2.1
  docs/asciidoc/static/advanced-pipeline.asciidoc
  docs/index-shared1.asciidoc
  docs/index.asciidoc
Labels: backport, docs

#10778 [Doc][Backport]Asciidoctor formatting fixes 2.0
  docs/asciidoc/static/advanced-pipeline.asciidoc
  docs/asciidoc/static/plugin-manager.asciidoc
  docs/index-shared1.asciidoc
  docs/index.asciidoc
Labels: backport, docs

#10779 [Docs][Backport]Asciidoctor formatting changes 1.5
  docs/asciidoc/static/plugin-manager.asciidoc
  docs/index-shared1.asciidoc
  docs/index.asciidoc
Labels: backport, docs

#10816 [Doc]Update doc versions and branch for 7.2
  docs/index.asciidoc
Labels: docs

#10817 [Doc]Update doc versions for 7.x
  docs/index.asciidoc
Labels: docs

#10829 update docs to 7.1.1
  docs/index.asciidoc
Labels: docs

#10780 [Doc]More asciidoctor formatting fixes
  docs/static/plugin-manager.asciidoc
Labels: docs
