Repository elastic/logstash, pull requests merged in 2019-04, with the labels that each got.

#10631 Release notes for 7.0.0-rc2
  docs/static/releasenotes.asciidoc
Labels: docs

#10635 [WIP] Add note about issues with Java 11 and Debian or RPM
  docs/static/getting-started-with-logstash.asciidoc
Labels: docs

#10603 build docker images from logstash repo
  .gitignore
  docker/LICENSE
  docker/Makefile
  docker/README.md
  docker/bin/elastic-version
  docker/bin/pytest
  docker/data/golang/Dockerfile
  docker/data/logstash/bin/docker-entrypoint
  docker/data/logstash/config/log4j2.properties
  docker/data/logstash/config/logstash-full.yml
  docker/data/logstash/config/logstash-oss.yml
  docker/data/logstash/config/pipelines.yml
  docker/data/logstash/env2yaml/env2yaml.go
  docker/data/logstash/pipeline/default.conf
  docker/docker-compose.yml
  docker/examples/logstash.conf
  docker/requirements.txt
  docker/templates/Dockerfile.j2
  docker/templates/docker-compose.yml.j2
  docker/tests/__init__.py
  docker/tests/conftest.py
  docker/tests/constants.py
  docker/tests/docker-compose.yml
  docker/tests/fixtures.py
  docker/tests/helpers.py
  docker/tests/test_basics.py
  docker/tests/test_entrypoint.py
  docker/tests/test_labels.py
  docker/tests/test_process.py
  docker/tests/test_settings.py
  docker/tox.ini
  docs/static/docker.asciidoc
  rakelib/artifacts.rake
Labels: packaging

#10622 Bump doc version to 6.7.1
  docs/index.asciidoc
Labels: docs

#10657 prevent DeprecatedRemovedSetting from fatally stopping logstash
  logstash-core/lib/logstash/settings.rb
  logstash-core/spec/logstash/settings/deprecated_and_renamed_spec.rb
Labels: v7.0.0-rc2, v7.1.0

#10654 [DOCS] Adds tagged region for notable breaking changes
  docs/static/breaking-changes.asciidoc
Labels: docs, v7.0.0-rc2, v7.1.0, v8.0.0

#10661 [DOCS] Adds tagged region for notable breaking changes (#10654)
  docs/static/breaking-changes.asciidoc
Labels: backport

#10662 [DOCS] Adds tagged region for notable breaking changes (#10654)
  docs/static/breaking-changes.asciidoc
Labels: backport

#10634 [WIP] Refine upgrade instructions for 7.0
  docs/static/upgrading.asciidoc
Labels: docs, work in progress

#10632 [WIP] Update breaking changes doc for 7.0
  docs/static/breaking-changes.asciidoc
Labels: docs

#10668 Add links to breaking changes for beats-ecs, java work, and field refs changes
  docs/static/upgrading.asciidoc
Labels: docs

#10664 download exact version artifact for release build otherwise download snapshot
  build.gradle
Labels: build

#10670 Clean up release notes and add placeholders for master
  docs/static/releasenotes.asciidoc
Labels: docs

#10563 bump openjdk 11 in docker testing
  Dockerfile
  Dockerfile.base
  build.gradle
  docker/templates/Dockerfile.j2
Labels: Java 11 Support, tests-infra

#10693 task to generate dockerfile
  docker/Makefile
  docker/README.md
  docker/requirements.txt
  docker/templates/Dockerfile.j2
  docker/templates/docker-compose.yml.j2
  docker/tests/__init__.py
  docker/tests/conftest.py
  docker/tests/constants.py
  docker/tests/docker-compose.yml
  docker/tests/fixtures.py
  docker/tests/helpers.py
  docker/tests/test_basics.py
  docker/tests/test_entrypoint.py
  docker/tests/test_labels.py
  docker/tests/test_process.py
  docker/tests/test_settings.py
  rakelib/artifacts.rake
Labels: packaging

#10692 Release notes draft for 6.7.2
  docs/static/releasenotes.asciidoc
Labels: v6.7.2

#10702 Update patch plugin versions in gemfile lock
  Gemfile.jruby-2.5.lock.release
Labels: v7.0.1

#10705 Release notes draft for 7.0.1
  docs/static/releasenotes.asciidoc
Labels: docs, v7.0.1
