Repository elastic/logstash, pull requests merged in 2019-10, with the labels that each got.

#11033 [Doc]Add metricbeat as monitoring option
  docs/index.asciidoc
  docs/static/config-management.asciidoc
  docs/static/monitoring/collectors.asciidoc
  docs/static/monitoring/index.asciidoc
  docs/static/monitoring/intro.asciidoc
  docs/static/monitoring/monitoring-apis.asciidoc
  docs/static/monitoring/monitoring-internal.asciidoc
  docs/static/monitoring/monitoring-mb.asciidoc
  docs/static/monitoring/monitoring-output.asciidoc
  docs/static/monitoring/monitoring-overview.asciidoc
  docs/static/monitoring/monitoring-ui.asciidoc
  docs/static/monitoring/monitoring.asciidoc
  docs/static/monitoring/pipeline-viewer.asciidoc
  docs/static/settings/monitoring-settings.asciidoc
Labels: docs, work in progress

#11190 [Doc]Add metricbeat as monitoring option for 7.x
  docs/index.asciidoc
  docs/static/config-management.asciidoc
  docs/static/monitoring/collectors.asciidoc
  docs/static/monitoring/index.asciidoc
  docs/static/monitoring/intro.asciidoc
  docs/static/monitoring/monitoring-apis.asciidoc
  docs/static/monitoring/monitoring-internal.asciidoc
  docs/static/monitoring/monitoring-mb.asciidoc
  docs/static/monitoring/monitoring-output.asciidoc
  docs/static/monitoring/monitoring-overview.asciidoc
  docs/static/monitoring/monitoring-ui.asciidoc
  docs/static/monitoring/monitoring.asciidoc
  docs/static/monitoring/pipeline-viewer.asciidoc
  docs/static/settings/monitoring-settings.asciidoc
Labels: backport, docs

#11191 [Doc]Add metricbeat as monitoring option for 7.4
  docs/index.asciidoc
  docs/static/config-management.asciidoc
  docs/static/monitoring/collectors.asciidoc
  docs/static/monitoring/index.asciidoc
  docs/static/monitoring/intro.asciidoc
  docs/static/monitoring/monitoring-apis.asciidoc
  docs/static/monitoring/monitoring-internal.asciidoc
  docs/static/monitoring/monitoring-mb.asciidoc
  docs/static/monitoring/monitoring-output.asciidoc
  docs/static/monitoring/monitoring-overview.asciidoc
  docs/static/monitoring/monitoring-ui.asciidoc
  docs/static/monitoring/monitoring.asciidoc
  docs/static/monitoring/pipeline-viewer.asciidoc
  docs/static/settings/monitoring-settings.asciidoc
Labels: backport, docs

#11192 [Doc]Add metricbeat as monitoring option for 7.3
  docs/index.asciidoc
  docs/static/config-management.asciidoc
  docs/static/monitoring/collectors.asciidoc
  docs/static/monitoring/index.asciidoc
  docs/static/monitoring/intro.asciidoc
  docs/static/monitoring/monitoring-apis.asciidoc
  docs/static/monitoring/monitoring-internal.asciidoc
  docs/static/monitoring/monitoring-mb.asciidoc
  docs/static/monitoring/monitoring-output.asciidoc
  docs/static/monitoring/monitoring-overview.asciidoc
  docs/static/monitoring/monitoring-ui.asciidoc
  docs/static/monitoring/monitoring.asciidoc
  docs/static/monitoring/pipeline-viewer.asciidoc
  docs/static/settings/monitoring-settings.asciidoc
Labels: backport, docs

#11201 [Doc]Remove leftover tags
  docs/static/breaking-changes.asciidoc
  docs/static/upgrading.asciidoc
Labels: docs

#11211 bump lock file for 7.4.1
  Gemfile.jruby-2.5.lock.release
Labels: v7.4.1

#11231 Remove unused code
  NOTICE.TXT
  logstash-core/lib/logstash/api/commands/system/basicinfo_command.rb
  logstash-core/lib/logstash/certs/cacert.pem
  logstash-core/lib/logstash/util/duration_formatter.rb
  logstash-core/lib/logstash/util/filetools.rb
  logstash-core/lib/logstash/util/unicode_trimmer.rb
  logstash-core/logstash-core.gemspec
  logstash-core/spec/logstash/util/duration_formatter_spec.rb
  logstash-core/spec/logstash/util/unicode_trimmer_spec.rb
  tools/ca/Class3PublicPrimaryCertificationAuthority.pem
  tools/ca/Entrust_net-Secure-Server-Certification-Authority.pem
  tools/ca/EntrustnetSecureServerCertificationAuthority.pem
  tools/ca/GeoTrustGlobalCA.pem
  tools/ca/GeoTrust_Global_CA.pem
  tools/ca/VerisignClass3PublicPrimaryCertificationAuthority-G2.pem
  tools/ca/cacert.pem
  tools/dependencies-report/src/main/resources/licenseMapping.csv
Labels: code cleanup

#11249 Docs: Asciidoctor fixes for translations
  docs/jp/static/introduction.asciidoc
  docs/kr/static/introduction.asciidoc
Labels: docs, v5.3.2, v5.5.4

#11250 Docs: Fix links in translation
  docs/jp/static/getting-started-with-logstash.asciidoc
  docs/jp/static/introduction.asciidoc
  docs/kr/static/introduction.asciidoc
Labels: docs, v5.3.2, v5.4.2
