Repository elastic/logstash, pull requests merged in 2019-11, with the labels that each got.

#11298 Release notes for 6.8.5
  docs/static/releasenotes.asciidoc
Labels: docs, v6.8.5

#11327 bump version to 6.8.6
  Gemfile.jruby-2.5.lock.release
  README.md
  versions.yml
Labels: v6.8.6

#11348 [DOCS] Fixes security and monitoring links
  docs/static/azure-module.asciidoc
  docs/static/deploying.asciidoc
  docs/static/monitoring/configuring-logstash.asciidoc
  docs/static/monitoring/intro.asciidoc
  docs/static/monitoring/monitoring-overview.asciidoc
  docs/static/security/logstash.asciidoc
Labels: backport, docs
