Repository elastic/logstash, pull requests merged in 2019-08, with the labels that each got.

#11011 Docs: Standard Asciidoc for filter
  docs/include/filter.asciidoc
Labels: docs

#11038 Release notes draft for 7.3.1
  docs/static/releasenotes.asciidoc
Labels: docs, v7.3.1

#11059 avoid variable collision in pipeline stats api
  logstash-core/lib/logstash/api/commands/stats.rb
  logstash-core/spec/logstash/api/commands/stats_spec.rb
  logstash-core/spec/support/shared_contexts.rb
Labels: monitoring, v7.4.0, v8.0.0

#11018 Docs: Fix backticks in how to docs
  docs/static/codec.asciidoc
  docs/static/filter.asciidoc
  docs/static/input.asciidoc
  docs/static/output.asciidoc
Labels: docs

#11061 [Doc]Bump doc versions to 7.3.1
  docs/index.asciidoc
Labels: docs

#11016 Docs: Fix formatting in table
  docs/static/monitoring/collectors.asciidoc
Labels: docs

#11091 bump 7.x to 7.5.0
  README.md
  docs/index.asciidoc
  versions.yml
Labels: v7.5.0

#11092 prepare 7.4 branch for 7.4.0
  Gemfile.jruby-2.5.lock.release
  docs/index.asciidoc
Labels: v7.4.0

#11096 Update minor plugin versions in gemfile lock for 7.4
  Gemfile.jruby-2.5.lock.release
Labels: v7.4.0

#11093 Update patch plugin versions in gemfile lock for 6.8
  Gemfile.jruby-2.5.lock.release
Labels: v6.8.3
