Repository elastic/logstash, pull requests merged in 2020-02, with the labels that each got.

#11564 revert #11482 and fix redundant code generation
  logstash-core/src/main/java/org/logstash/config/ir/CompiledPipeline.java
  logstash-core/src/main/java/org/logstash/config/ir/compiler/ComputeStepSyntaxElement.java
  logstash-core/src/main/java/org/logstash/config/ir/compiler/DatasetCompiler.java
  logstash-core/src/test/java/org/logstash/config/ir/compiler/DatasetCompilerTest.java
Labels: Java Execution, blocker, bug, v8.0.0

#11574 [7.6 backport of #11564] revert #11482 and fix redundant code generation
  logstash-core/src/main/java/org/logstash/config/ir/CompiledPipeline.java
  logstash-core/src/main/java/org/logstash/config/ir/compiler/ComputeStepSyntaxElement.java
  logstash-core/src/main/java/org/logstash/config/ir/compiler/DatasetCompiler.java
  logstash-core/src/test/java/org/logstash/config/ir/compiler/DatasetCompilerTest.java
Labels: Java Execution, backport, blocker, v7.6.0

#11575 [7.5 backport of #11564] revert #11482 and fix redundant code generation
  logstash-core/src/main/java/org/logstash/config/ir/CompiledPipeline.java
  logstash-core/src/main/java/org/logstash/config/ir/compiler/ComputeStepSyntaxElement.java
  logstash-core/src/main/java/org/logstash/config/ir/compiler/DatasetCompiler.java
  logstash-core/src/test/java/org/logstash/config/ir/compiler/DatasetCompilerTest.java
Labels: Java Execution, backport, v7.5.3

#11576 [7.7 backport of #11564] revert #11482 and fix redundant code generation #11574
  logstash-core/src/main/java/org/logstash/config/ir/CompiledPipeline.java
  logstash-core/src/main/java/org/logstash/config/ir/compiler/ComputeStepSyntaxElement.java
  logstash-core/src/main/java/org/logstash/config/ir/compiler/DatasetCompiler.java
  logstash-core/src/test/java/org/logstash/config/ir/compiler/DatasetCompilerTest.java
Labels: Java Execution, backport, v7.7.0

#11607 [DOC]Clarify internal collectors deprecation status for 7.6
  docs/static/monitoring/monitoring-internal.asciidoc
  docs/static/monitoring/monitoring-overview.asciidoc
Labels: docs, v7.6.0

#11625 [DOC]Remove deprecation notice for 7.6
  docs/static/monitoring/monitoring-internal.asciidoc
  docs/static/monitoring/monitoring-mb.asciidoc
Labels: docs, v7.6.0
