Repository elastic/logstash, pull requests merged in 2020-01, with the labels that each got.

#9051 Remove unused NodeStats#mem_payload
  logstash-core/lib/logstash/api/modules/node_stats.rb
Labels: code cleanup, v8.0.0

#10810 [Documentation] Add the "Compile to JAR file" build command
  docs/static/include/javapluginpkg.asciidoc
Labels: docs, v7.1.0

#11490 [7.5 clean backport of #11482] cache compiled datasets
  logstash-core/src/main/java/org/logstash/config/ir/CompiledPipeline.java
  logstash-core/src/main/java/org/logstash/config/ir/compiler/ComputeStepSyntaxElement.java
  logstash-core/src/main/java/org/logstash/config/ir/compiler/DatasetCompiler.java
  logstash-core/src/test/java/org/logstash/config/ir/compiler/DatasetCompilerTest.java
Labels: backport, v7.5.2

#11491 [7.6 clean backport of #11482] cache compiled datasets
  logstash-core/src/main/java/org/logstash/config/ir/CompiledPipeline.java
  logstash-core/src/main/java/org/logstash/config/ir/compiler/ComputeStepSyntaxElement.java
  logstash-core/src/main/java/org/logstash/config/ir/compiler/DatasetCompiler.java
  logstash-core/src/test/java/org/logstash/config/ir/compiler/DatasetCompilerTest.java
Labels: backport, v7.6.0

#11495 [Doc] Forward port 7.5.1 release notes to 7.x (#11448)
  docs/static/releasenotes.asciidoc
Labels: docs

#11496 Feat: x-pack cloud id/auth for monitoring/management
  config/logstash.yml
  docs/static/settings/configuration-management-settings.asciidoc
  docs/static/settings/monitoring-settings.asciidoc
  x-pack/lib/config_management/elasticsearch_source.rb
  x-pack/lib/config_management/extension.rb
  x-pack/lib/helpers/elasticsearch_options.rb
  x-pack/lib/monitoring/monitoring.rb
  x-pack/lib/template.cfg.erb
  x-pack/spec/config_management/elasticsearch_source_spec.rb
  x-pack/spec/config_management/extension_spec.rb
  x-pack/spec/helpers/elasticsearch_options_spec.rb
Labels: v7.6.0, v8.0.0

#11492 start inputs only when all WorkerLoop are fully initialized
  logstash-core/lib/logstash/java_pipeline.rb
Labels: Java Execution, enhancement

#11524 Add support for pipeline.ordered setting for java execution
  config/logstash.yml
  docs/static/running-logstash-command-line.asciidoc
  docs/static/settings-file.asciidoc
  logstash-core/lib/logstash/environment.rb
  logstash-core/lib/logstash/java_pipeline.rb
  logstash-core/lib/logstash/pipeline.rb
  logstash-core/lib/logstash/runner.rb
  logstash-core/lib/logstash/settings.rb
  logstash-core/locales/en.yml
  logstash-core/spec/conditionals_spec.rb
  logstash-core/spec/logstash/filters/base_spec.rb
  logstash-core/spec/logstash/java_pipeline_spec.rb
  logstash-core/spec/logstash/pipeline_spec.rb
  logstash-core/spec/support/pipeline/pipeline_helpers.rb
  logstash-core/src/main/java/org/logstash/execution/WorkerLoop.java
Labels: Java Execution, bug, enhancement, v8.0.0

#11552 [7.7 clean backport of #11524] add support for pipeline.ordered setting for java execution
  config/logstash.yml
  docs/static/running-logstash-command-line.asciidoc
  docs/static/settings-file.asciidoc
  logstash-core/lib/logstash/environment.rb
  logstash-core/lib/logstash/java_pipeline.rb
  logstash-core/lib/logstash/pipeline.rb
  logstash-core/lib/logstash/runner.rb
  logstash-core/lib/logstash/settings.rb
  logstash-core/locales/en.yml
  logstash-core/spec/conditionals_spec.rb
  logstash-core/spec/logstash/filters/base_spec.rb
  logstash-core/spec/logstash/java_pipeline_spec.rb
  logstash-core/spec/logstash/pipeline_spec.rb
  logstash-core/spec/support/pipeline/pipeline_helpers.rb
  logstash-core/src/main/java/org/logstash/execution/WorkerLoop.java
Labels: Java Execution, backport, v7.7.0
