Repository elastic/logstash, pull requests merged in 2020-05, with the labels that each got.

#11867 [Doc]Expand and clarify guidance for jvm settings
  docs/static/config-details.asciidoc
  docs/static/performance-checklist.asciidoc
  docs/static/setting-up-logstash.asciidoc
Labels: docs

#11851 Release notes draft for 6.8.9
  docs/static/releasenotes.asciidoc
Labels: work in progress

#11747 [7.7 clean backport or #11737] simplify batch classes, do not compute JE empty batches, refactor RE worker loop
  logstash-core/lib/logstash/pipeline.rb
  logstash-core/spec/logstash/pipeline_pq_file_spec.rb
  logstash-core/spec/logstash/util/wrapped_synchronous_queue_spec.rb
  logstash-core/src/main/java/org/logstash/ackedqueue/AckedBatch.java
  logstash-core/src/main/java/org/logstash/ackedqueue/AckedReadBatch.java
  logstash-core/src/main/java/org/logstash/common/LsQueueUtils.java
  logstash-core/src/main/java/org/logstash/config/ir/CompiledPipeline.java
  logstash-core/src/main/java/org/logstash/execution/MemoryReadBatch.java
  logstash-core/src/main/java/org/logstash/execution/QueueBatch.java
  logstash-core/src/main/java/org/logstash/execution/WorkerLoop.java
  logstash-core/src/main/java/org/logstash/ext/JrubyAckedReadClientExt.java
  logstash-core/src/main/java/org/logstash/ext/JrubyMemoryReadClientExt.java
  logstash-core/src/test/java/org/logstash/config/ir/CompiledPipelineTest.java
  logstash-core/src/test/java/org/logstash/config/ir/EventConditionTest.java
  x-pack/spec/monitoring/inputs/metrics_spec.rb
Labels: Java Execution, backport, v7.7.1

#11772 performance: share a single secret store (7.7. backport of #10794)
  logstash-core/lib/logstash/util/lazy_singleton.rb
  logstash-core/lib/logstash/util/substitution_variables.rb
  logstash-core/spec/logstash/settings_spec.rb
Labels: backport, v7.7.1

#11832 [7.7] bump elasticsearch output dependency to 10.4.2
  Gemfile.jruby-2.5.lock.release
Labels: v7.7.1

#11892 Doc:Add deprecation notice for azure module
  docs/static/azure-module.asciidoc
  docs/static/modules.asciidoc
Labels: docs

#11881 Doc:Replace cloud trial notice with attribute
  docs/static/advanced-pipeline.asciidoc
Labels: docs, work in progress

#11931 Escape test fixture service scripts
  qa/integration/services/logstash_service.rb
  qa/integration/services/service.rb
Labels: test failure, tests

#11559 Removed deprecated `/_xpack/security` paths
  docs/static/security/logstash.asciidoc
Labels: docs, easyreview
