Repository elastic/logstash, pull requests merged in 2020-07, with the labels that each got.

#12068 [DOCS] Change links to refactored Beats getting started docs
  docs/static/advanced-pipeline.asciidoc
  docs/static/fb-ls-kafka-example.asciidoc
  docs/static/monitoring/monitoring-mb.asciidoc
Labels: backport needed, docs, v7.9.0

#12089 [Doc]Replace outdated pipeline viewer screenshot
  docs/static/monitoring/images/pipeline-tree.png
Labels: docs

#12098 [Doc]Add info on reserved fields in events
  docs/static/processing-info.asciidoc
  docs/static/reserved-fields.asciidoc
Labels: docs

#12094 ignore default username when no password is set to not use authentication in xpack monitoring and management
  x-pack/lib/helpers/elasticsearch_options.rb
  x-pack/spec/config_management/elasticsearch_source_spec.rb
  x-pack/spec/helpers/elasticsearch_options_spec.rb
Labels: bug

#12037 [Doc][forwardport]Release notes for 7.8 to 7.x branch
  docs/static/releasenotes.asciidoc
Labels: docs

#12119 Doc:Add coming tag for 6.8.11 release notes
  docs/static/releasenotes.asciidoc
Labels: docs

#12118 Doc:Add coming tag to 7.8.1 release notes
  docs/static/releasenotes.asciidoc
Labels: docs

#12050 Doc:Finetune 7.8 release notes
  docs/static/releasenotes.asciidoc
Labels: docs

#12122 Doc:Fine tune 7.8 release notes
  docs/static/releasenotes.asciidoc
Labels: docs

#11891 [Doc]Add a new header for integration plugins
  docs/include/plugin_header-integration.asciidoc
Labels: docs

#12131 Document use of keystore values in pipelines.yml
  docs/static/settings-file.asciidoc
Labels: docs

#12125 Doc:Remove coming tag from 6.8.11 release notes after release
  docs/static/releasenotes.asciidoc
Labels: docs

#12126 Doc:Remove coming tag from 7.8.1 release notes after release
  docs/static/releasenotes.asciidoc
Labels: docs

#12143 [DOC]Forwardport 7.8.1 release notes (#12092) to 7.9
  docs/static/releasenotes.asciidoc
Labels: docs

#12142 [DOC]Forwardport 7.8.1 release notes (#12092) to 7.x
  docs/static/releasenotes.asciidoc
Labels: docs

#12144 Doc:Forwardport final 7.8.0 release notes (#12050) to 7.9
  docs/static/releasenotes.asciidoc
Labels: docs

#11960 Doc:Fix link to monitoring docs
  docs/static/security/logstash.asciidoc
Labels: docs

#12149 Doc:Add monitoring and management to API key security content
  docs/static/security/api-keys.asciidoc
  docs/static/settings/configuration-management-settings.asciidoc
Labels: docs
