Repository elastic/logstash, pull requests merged in 2020-09, with the labels that each got.

#12208 Doc:Add redirect from multiline filter to multiline codec
  docs/static/redirects.asciidoc
Labels: docs, work in progress

#12217 [Backport]Doc:Add redirect from multiline filter to multiline codec for 7.x
  docs/static/redirects.asciidoc
Labels: backport, docs

#12218 [Backport]Doc:Add redirect from multiline filter to multiline codec to 7.9
  docs/static/redirects.asciidoc
Labels: backport, docs

#12224 Doc:Fix release notes formatting for consistency
  docs/static/releasenotes.asciidoc
Labels: docs

#12233 Fix keystore thread safety
  logstash-core/src/main/java/org/logstash/secret/store/backend/JavaKeyStore.java
  logstash-core/src/test/java/org/logstash/secret/store/backend/JavaKeyStoreTest.java
Labels: secret store

#12240 Doc:Forwardport Release notes 7.9.1 to 7.x
  docs/static/releasenotes.asciidoc
Labels: docs

#12247 [DOC][Backport-7.x] Logging settings can affect performances
  docs/static/troubleshooting.asciidoc
Labels: docs, v7.10.0

#12249 [DOC][Backport-7.9] Logging settings can affect performances
  docs/static/troubleshooting.asciidoc
Labels: docs, v7.9.0

#12209 Doc:Clarify how Bulk API interacts with DLQ
  docs/static/dead-letter-queues.asciidoc
Labels: docs

#12268 Doc:Clarify how Bulk API interacts with DLQ
  docs/static/dead-letter-queues.asciidoc
Labels: 7.10.0, backport, docs

#12269 Doc:Clarify how Bulk API interacts with DLQ
  docs/static/dead-letter-queues.asciidoc
Labels: backport, docs, v7.9.0

#12284 [Backport to 7.x]Doc: Increase visibility of offline plugin support
  docs/static/offline-plugins.asciidoc
  docs/static/plugin-manager.asciidoc
Labels: backport, docs, v7.10.0

#12285 [Backport to 7.9]Doc:Increase visibility of offline plugin support
  docs/static/offline-plugins.asciidoc
  docs/static/plugin-manager.asciidoc
Labels: backport, docs, v7.9.0
