Repository elastic/logstash, pull requests merged in 2020-11, with the labels that each got.

#12270 Doc:Restructure troubleshooting docs and add plugin tracing
  docs/index.asciidoc
  docs/static/troubleshoot/plugin-tracing.asciidoc
  docs/static/troubleshoot/troubleshooting.asciidoc
  docs/static/troubleshoot/ts-kafka.asciidoc
  docs/static/troubleshoot/ts-logstash.asciidoc
  docs/static/troubleshoot/ts-other-issues.asciidoc
  docs/static/troubleshoot/ts-plugins-general.asciidoc
  docs/static/troubleshoot/ts-plugins.asciidoc
Labels: docs

#12405 [Backport]Doc:Restructure troubleshooting docs and add plugin tracing
  docs/index.asciidoc
  docs/static/troubleshoot/plugin-tracing.asciidoc
  docs/static/troubleshoot/troubleshooting.asciidoc
  docs/static/troubleshoot/ts-kafka.asciidoc
  docs/static/troubleshoot/ts-logstash.asciidoc
  docs/static/troubleshoot/ts-other-issues.asciidoc
  docs/static/troubleshoot/ts-plugins-general.asciidoc
  docs/static/troubleshoot/ts-plugins.asciidoc
Labels: backport, docs, v7.11.0

#12406 [Backport]Doc:Restructure troubleshooting docs and add plugin tracing
  docs/index.asciidoc
  docs/static/troubleshoot/plugin-tracing.asciidoc
  docs/static/troubleshoot/troubleshooting.asciidoc
  docs/static/troubleshoot/ts-kafka.asciidoc
  docs/static/troubleshoot/ts-logstash.asciidoc
  docs/static/troubleshoot/ts-other-issues.asciidoc
  docs/static/troubleshoot/ts-plugins-general.asciidoc
  docs/static/troubleshoot/ts-plugins.asciidoc
Labels: backport, docs, v7.10.0

#12395 Improve error message for non-existing settings
  logstash-core/lib/logstash/settings.rb
Labels: logging improvements

#12396 Doc: wildcards in xpack.management.pipeline.id
  docs/static/management/configuring-centralized-pipelines.asciidoc
  docs/static/management/images/centralized_config.png
  docs/static/settings/configuration-management-settings.asciidoc
  docs/static/settings/configuration-wildcard-pipeline-id.asciidoc
Labels: docs

#12369 Doc: Add bundled JDK info
  docs/static/jvm.asciidoc
Labels: docs

#12417 [Backport] Doc: Add bundled JDK info
  docs/static/jvm.asciidoc
Labels: backport, docs, v7.11.0

#12418 [Backport] Doc: Add bundled JDK info
  docs/static/jvm.asciidoc
Labels: backport, docs, v7.10.0

#12420 Release notes 7.10.0
  docs/static/releasenotes.asciidoc
Labels: docs, v7.10.0

#12433 [Forward] Doc:Release notes 7.10.0 to 7.x
  docs/static/releasenotes.asciidoc
Labels: docs

#12451 [710_backport] Fix docker image metadata
  docker/Makefile
  docker/templates/Dockerfile.j2
  qa/docker/shared_examples/image_metadata.rb
  rakelib/artifacts.rake
Labels: v7.10.1

#12466 clean up field-reference-parser
  docs/static/breaking-changes.asciidoc
  logstash-core/lib/logstash/agent.rb
  logstash-core/lib/logstash/environment.rb
  logstash-core/lib/logstash/runner.rb
  logstash-core/locales/en.yml
Labels: v8.0.0

#12462 Fix an API break in CloudSettingsId, a Ruby's ArgumentError should be raised
  logstash-core/spec/logstash/settings/modules_spec.rb
  logstash-core/spec/logstash/util/cloud_setting_id_spec.rb
  logstash-core/src/main/java/org/logstash/util/CloudSettingId.java
  logstash-core/src/test/java/org/logstash/util/CloudSettingIdTest.java
Labels: bug

#12467 [Doc] expand the description of how to obtain the logger's names form Java and Ruby class names
  docs/static/logging.asciidoc
Labels: docs

#12474 [Doc] expanded the description of how to obtain the logger's names form Java and Ruby class names
  docs/static/logging.asciidoc
Labels: docs

#12478 [Doc] Remove field reference parser
  docs/static/breaking-changes.asciidoc
Labels: v8.0.0

#12458 Moved ModulesSettingArray from Ruby to Java.
  logstash-core/lib/logstash/modules/settings_merger.rb
  logstash-core/lib/logstash/util/modules_setting_array.rb
  logstash-core/spec/logstash/modules/settings_merger_spec.rb
  logstash-core/spec/logstash/settings/modules_spec.rb
  logstash-core/src/main/java/org/logstash/util/ModulesSettingArray.java
Labels: enhancement

#12479 Moved LogStash::Util::TimeValue to Java
  logstash-core/lib/logstash/util/time_value.rb
  logstash-core/spec/logstash/util/time_value_spec.rb
  logstash-core/src/main/java/org/logstash/util/TimeValue.java
Labels: enhancement

#12404 Change text to use Elastic Cloud
  docs/static/ls-to-cloud.asciidoc
Labels: docs
