Repository elastic/logstash, pull requests merged in 2020-04, with the labels that each got.

#11737 simplify batch classes, do not compute JE empty batches, refactor RE worker loop
  logstash-core/lib/logstash/pipeline.rb
  logstash-core/spec/logstash/pipeline_pq_file_spec.rb
  logstash-core/spec/logstash/util/wrapped_synchronous_queue_spec.rb
  logstash-core/src/main/java/org/logstash/ackedqueue/AckedBatch.java
  logstash-core/src/main/java/org/logstash/ackedqueue/AckedReadBatch.java
  logstash-core/src/main/java/org/logstash/common/LsQueueUtils.java
  logstash-core/src/main/java/org/logstash/config/ir/CompiledPipeline.java
  logstash-core/src/main/java/org/logstash/execution/MemoryReadBatch.java
  logstash-core/src/main/java/org/logstash/execution/QueueBatch.java
  logstash-core/src/main/java/org/logstash/execution/WorkerLoop.java
  logstash-core/src/main/java/org/logstash/ext/JrubyAckedReadClientExt.java
  logstash-core/src/main/java/org/logstash/ext/JrubyMemoryReadClientExt.java
  logstash-core/src/test/java/org/logstash/config/ir/CompiledPipelineTest.java
  logstash-core/src/test/java/org/logstash/config/ir/EventConditionTest.java
  x-pack/spec/monitoring/inputs/metrics_spec.rb
Labels: Java Execution, code cleanup, v8.0.0

#11746 [7.x clean backport or #11737] simplify batch classes, do not compute JE empty batches, refactor RE worker loop
  logstash-core/lib/logstash/pipeline.rb
  logstash-core/spec/logstash/pipeline_pq_file_spec.rb
  logstash-core/spec/logstash/util/wrapped_synchronous_queue_spec.rb
  logstash-core/src/main/java/org/logstash/ackedqueue/AckedBatch.java
  logstash-core/src/main/java/org/logstash/ackedqueue/AckedReadBatch.java
  logstash-core/src/main/java/org/logstash/common/LsQueueUtils.java
  logstash-core/src/main/java/org/logstash/config/ir/CompiledPipeline.java
  logstash-core/src/main/java/org/logstash/execution/MemoryReadBatch.java
  logstash-core/src/main/java/org/logstash/execution/QueueBatch.java
  logstash-core/src/main/java/org/logstash/execution/WorkerLoop.java
  logstash-core/src/main/java/org/logstash/ext/JrubyAckedReadClientExt.java
  logstash-core/src/main/java/org/logstash/ext/JrubyMemoryReadClientExt.java
  logstash-core/src/test/java/org/logstash/config/ir/CompiledPipelineTest.java
  logstash-core/src/test/java/org/logstash/config/ir/EventConditionTest.java
  x-pack/spec/monitoring/inputs/metrics_spec.rb
Labels: Java Execution, backport, v7.8.0

#11109 Update local.rb for pipe file
  logstash-core/lib/logstash/config/source/local.rb
Labels: easyreview

#11628 remove :cluster_uuids gauge
  logstash-core/lib/logstash/java_pipeline.rb
Labels: easyreview, revisit

#11771 [Doc]Note that unit qualifier is required for config.reload.interval
  config/logstash.yml
  docs/static/breaking-changes.asciidoc
  docs/static/reloading-config.asciidoc
  docs/static/running-logstash-command-line.asciidoc
  docs/static/settings-file.asciidoc
Labels: docs

#11781 [Doc][Backport] Unit qualifier is required 7.6
  config/logstash.yml
  docs/static/breaking-changes.asciidoc
  docs/static/reloading-config.asciidoc
  docs/static/running-logstash-command-line.asciidoc
  docs/static/settings-file.asciidoc
Labels: backport, docs

#11780 [Doc][Backport] Unit qualifier is required 6.8
  config/logstash.yml
  docs/static/breaking-changes.asciidoc
  docs/static/reloading-config.asciidoc
  docs/static/running-logstash-command-line.asciidoc
  docs/static/settings-file.asciidoc
Labels: backport, docs

#11774 support Environment and Keystore substitutions in password-type plugin options
  logstash-core/lib/logstash/util/substitution_variables.rb
  logstash-core/spec/logstash/config/mixin_spec.rb
Labels: v7.8.0, v8.0.0

#11763 [Doc]Fix typo in pipeline ordered description
  docs/static/running-logstash-command-line.asciidoc
Labels: docs

#11790 [Doc]Add redirects page
  docs/index.asciidoc
  docs/static/redirects.asciidoc
Labels: docs

#11789 [Doc]Doc updates for internal collectors
  docs/static/monitoring/monitoring-internal.asciidoc
  docs/static/monitoring/monitoring-output.asciidoc
  docs/static/settings/monitoring-settings.asciidoc
Labels: docs, v7.7.0, v7.8.0, v8.0.0, work in progress

#11762 Release Notes for 7.7 (continued)
  docs/static/releasenotes.asciidoc
Labels: docs, work in progress

#11805 [Doc][Backport]Release Notes 7.7 to 7.x (#11762)
  docs/static/releasenotes.asciidoc
Labels: backport, docs

#11816 [Doc]Release notes: Add known issue for monitoring settings
  docs/static/releasenotes.asciidoc
Labels: docs

#11821 [Doc]Release notes: Add known issue for monitoring settings (#11816)
  docs/static/releasenotes.asciidoc
Labels: backport, docs

#11823 [Doc]Remove new internal collection
  docs/static/monitoring/collectors.asciidoc
  docs/static/monitoring/monitoring-internal-legacy.asciidoc
  docs/static/monitoring/monitoring-internal.asciidoc
  docs/static/monitoring/monitoring-mb.asciidoc
  docs/static/monitoring/monitoring-output.asciidoc
  docs/static/monitoring/monitoring-overview.asciidoc
  docs/static/settings/monitoring-settings-legacy.asciidoc
  docs/static/settings/monitoring-settings.asciidoc
Labels: docs

#11826 [Doc]Remove new internal collection for 7.7
  docs/static/monitoring/collectors.asciidoc
  docs/static/monitoring/monitoring-internal-legacy.asciidoc
  docs/static/monitoring/monitoring-internal.asciidoc
  docs/static/monitoring/monitoring-mb.asciidoc
  docs/static/monitoring/monitoring-output.asciidoc
  docs/static/monitoring/monitoring-overview.asciidoc
  docs/static/settings/monitoring-settings-legacy.asciidoc
  docs/static/settings/monitoring-settings.asciidoc
Labels: backport, docs

#11831 [7.6] bump elasticsearch output dependency to 10.4.2
  Gemfile.jruby-2.5.lock.release
Labels: 7.6.3

#10341 [doc] missing role for config management integration
  docs/static/management/configuring-centralized-pipelines.asciidoc
  docs/static/settings/configuration-management-settings.asciidoc
Labels: docs, easyreview, management

#11856 [doc] missing role for config management integration
  docs/static/management/configuring-centralized-pipelines.asciidoc
  docs/static/settings/configuration-management-settings.asciidoc
Labels: backport, docs

#11857 [doc] missing role for config management integration (#10341)
  docs/static/management/configuring-centralized-pipelines.asciidoc
  docs/static/settings/configuration-management-settings.asciidoc
Labels: backport, docs
