Repository elastic/logstash, pull requests merged in 2025-04, with the labels that each got.

#17452 Fix persistent-queues.md PQ sizing multiplication factors #17451
  docs/reference/persistent-queues.md
Labels: backport-9.0

#17439 Doc: Move 9.0 pre-release notes to release notes
  docs/release-notes/index.md
Labels: docs, backport-9.0

#17380 Breaking changes for 9.0
  docs/release-notes/breaking-changes.md
Labels: docs, backport-9.0

#17482 Remove tech preview from agent driven LS monitoring pages.
  docs/reference/dashboard-monitoring-with-elastic-agent.md
  docs/reference/monitoring-with-elastic-agent.md
  docs/reference/serverless-monitoring-with-elastic-agent.md
Labels: docs, backport-9.0

#17487 Update cgi to 0.3.7
  Gemfile.template
Labels: backport-active-all

#17485 [8.x] Remove technical preview from agent driven monitoring pages.
  docs/static/monitoring/monitoring-ea-dashboards.asciidoc
  docs/static/monitoring/monitoring-ea-serverless.asciidoc
  docs/static/monitoring/monitoring-ea.asciidoc
  docs/static/monitoring/monitoring-view.asciidoc
Labels: docs, backport-8.17, backport-8.18

#17484 Doc: Incorporate field ref deep dive content
  docs/reference/event-dependent-configuration.md
Labels: docs, backport-active-9

#17507 Release notes, deprecations, breaking for 9.0.0
  docs/release-notes/breaking-changes.md
  docs/release-notes/deprecations.md
  docs/release-notes/known-issues.md
Labels: docs, backport-9.0

#16940 x-pack: add fips validation plugin from x-pack
  rakelib/artifacts.rake
  rakelib/plugin.rake
  x-pack/build.gradle
  x-pack/distributions/internal/observabilitySRE/plugin/logstash-integration-fips_validation/.gitignore
  x-pack/distributions/internal/observabilitySRE/plugin/logstash-integration-fips_validation/lib/logstash/fips_validation.rb
  x-pack/distributions/internal/observabilitySRE/plugin/logstash-integration-fips_validation/lib/logstash_registry.rb
  x-pack/distributions/internal/observabilitySRE/plugin/logstash-integration-fips_validation/logstash-integration-fips_validation.gemspec
  x-pack/lib/x-pack/logstash_registry.rb
  x-pack/qa/integration/fips-validation/logstash-integration-fips-validation_spec.rb
  x-pack/qa/integration/spec_helper.rb
  x-pack/qa/integration/support/helpers.rb
Labels: enhancement, x-pack

#17479 [Monitoring LS] Recommends collecting metricsets to fully visualize metrics on dashboards.
  docs/reference/dashboard-monitoring-with-elastic-agent.md
  docs/reference/monitoring-with-elastic-agent.md
  docs/reference/monitoring-with-metricbeat.md
  docs/reference/serverless-monitoring-with-elastic-agent.md
Labels: docs, backport-9.0

#17531 Ensure elasticsearch logs and data dirs exist before startup
  qa/integration/services/elasticsearch_setup.sh
Labels: backport-active-all

#17532 Doc: Update installation info
  docs/docset.yml
  docs/reference/docker.md
  docs/reference/installing-logstash.md
Labels: docs, backport-active-9

#17524 [8.x][Docs] Add recommendations to collect all metrics for the best dashboard experience.
  docs/static/monitoring/monitoring-ea-dashboards.asciidoc
  docs/static/monitoring/monitoring-ea-serverless.asciidoc
  docs/static/monitoring/monitoring-ea.asciidoc
  docs/static/monitoring/monitoring-mb.asciidoc
Labels: docs, backport-8.17, backport-8.18

#17548 Updating the index title to match other extending sections
  docs/extend/index.md
Labels: backport-active-9

#17551 New way of backporting to active branches using gh action
  .github/workflows/backport-active.yml
  .mergify.yml
Labels: enhancement, backport-skip, backport-active-9

#17566 [docs] Fix image paths for docs-assembler
  docs/reference/advanced-pipeline.md
  docs/reference/dashboard-monitoring-with-elastic-agent.md
  docs/reference/dead-letter-queues.md
  docs/reference/deploying-scaling-logstash.md
  docs/reference/first-event.md
  docs/reference/logstash-centralized-pipeline-management.md
  docs/reference/logstash-monitoring-ui.md
  docs/reference/logstash-pipeline-viewer.md
  docs/reference/monitoring-internal-collection-legacy.md
  docs/reference/monitoring-with-elastic-agent.md
  docs/reference/serverless-monitoring-with-elastic-agent.md
  docs/reference/tuning-logstash.md
Labels: docs, Team:Docs, backport-active-9

#17567 mergify: support 8.19 and remove support 8.x
  .ci/Makefile
  .mergify.yml
Labels: backport-skip

#17496 Remove ADOC preview workflow
  .github/workflows/add-docs-preview-link.yml
Labels: backport-active-9

#17547 Doc: Remove local k8s files
  docsk8s/administering/ls-k8s-administering.asciidoc
  docsk8s/administering/ls-k8s-logging.asciidoc
  docsk8s/administering/ls-k8s-stack-monitoring-cloud.asciidoc
  docsk8s/administering/ls-k8s-stack-monitoring-external.asciidoc
  docsk8s/administering/ls-k8s-stack-monitoring.asciidoc
  docsk8s/administering/ls-k8s-upgrade.asciidoc
  docsk8s/images/gs-cert-files.png
  docsk8s/images/gs-logstash-node-metrics.png
  docsk8s/images/sm-kibana.png
  docsk8s/index.asciidoc
  docsk8s/ls-k8s-recipes.asciidoc
  docsk8s/quick-start/ls-k8s-configuration-files.asciidoc
  docsk8s/quick-start/ls-k8s-quick-start.asciidoc
  docsk8s/quick-start/sample-configuration-files.asciidoc
  docsk8s/sample-files/logstash-k8s-qs.zip
  docsk8s/setting-up/ls-k8s-design-for-plugins.asciidoc
  docsk8s/setting-up/ls-k8s-persistent-storage.asciidoc
  docsk8s/setting-up/ls-k8s-secure.asciidoc
  docsk8s/setting-up/ls-k8s-setting-up.asciidoc
  docsk8s/setting-up/ls-k8s-sizing.asciidoc
  docsk8s/troubleshooting/ls-k8s-common-problems.asciidoc
  docsk8s/troubleshooting/ls-k8s-troubleshooting-methods.asciidoc
  docsk8s/troubleshooting/ls-k8s-troubleshooting.asciidoc
Labels: docs, backport-active-9

#17576 Track 8.19 branch instead of 8.x for jdk compat tests
  catalog-info.yaml
Labels: backport-skip

#17577 Update catalog-info.yaml
  catalog-info.yaml
Labels: backport-skip

#17579 Update marathon CI pipeline to reflect recent LS released versions.
  .buildkite/scripts/benchmark/marathon.sh
Labels: backport-skip

#17580 [docs] Fix various syntax and rendering errors
  docs/docset.yml
  docs/reference/advanced-pipeline.md
  docs/reference/connecting-to-cloud.md
  docs/reference/dashboard-monitoring-with-elastic-agent.md
  docs/reference/dir-layout.md
  docs/reference/first-event.md
  docs/reference/index.md
  docs/reference/logstash-settings-file.md
  docs/reference/running-logstash-command-line.md
  docs/reference/running-logstash.md
  docs/reference/secure-connection.md
  docs/reference/serverless-monitoring-with-elastic-agent.md
  docs/reference/upgrading-logstash.md
  docs/reference/use-filebeat-modules-kafka.md
  docs/reference/working-with-plugins.md
  docs/release-notes/breaking-changes.md
Labels: docs, Team:Docs, backport-9.0

#17351 Improve the key validation in secret identifier.
  docs/reference/keystore.md
  logstash-core/src/main/java/org/logstash/plugins/ConfigVariableExpander.java
  logstash-core/src/main/java/org/logstash/secret/SecretIdentifier.java
  logstash-core/src/main/java/org/logstash/secret/cli/SecretStoreCli.java
  logstash-core/src/test/java/org/logstash/secret/cli/SecretStoreCliTest.java
Labels: backport-active-9, backport-active-8

#17591 upgrade jdk to 21.0.7+6
  versions.yml
Labels: backport-active-9, backport-active-8

#17600 Doc: Add non-standard header file
  docs/include/plugin_header-nonstandard.asciidoc
Labels: docs, backport-8.17, backport-8.18

#17592 Make redhat exhaustive test install command more robust
  qa/rspec/commands/redhat.rb
Labels: backport-active-all

#17589 Add helper method to wait for log message to be observed
  qa/docker/shared_examples/container_options.rb
  qa/docker/shared_examples/xpack.rb
  qa/docker/spec/spec_helper.rb
Labels: backport-active-all

#17137 [CI] update serverless test index
  ci/serverless/README.md
  ci/serverless/metricbeat_monitoring_tests.sh
Labels: backport-8.x
